:root {
	--bg-color: rgba(234, 234, 235, 0.6);
	--top-color: #eeeeef;
        --top-family:'PT Sans', sans-serif;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: var(--top-color);
}
.photo1 {
	height: 167px;
	width: 264px;
}
.background {
	height: 588px;
	object-fit: cover;
	width: 100%;
}
.header1 {
	color: hsl(210, 10%, 28%);
	font-family: var(--top-family);
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 0;
	padding: 1px;
}
.line1 {
	height:2px;
	margin-top:10px;
	width: 101px;
        margin-right: 32px;
	opacity: 0.5;
}

.line2 {
	height:2px;
	margin-top:10px;
	width: 101px;
	margin-left: 32px;
	opacity: 0.5;

}
p {
	color: #787b80;
	font-family: var(--top-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}
.blockthree {
	color: #40474e;
	font-family: var(--top-family);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.block3 {
	background-color: var(--bg-color);
	height: 328px;
}
.textblock4 {
	box-sizing: content-box;
	color: #384048;
	font-family: var(--top-family);
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: auto;
	margin-top: auto;
	text-align: right;
	vertical-align: middle;
}
.paragr {
	color: #787b80;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.paragr1 {
	color: #787b80;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.buttom4 {
	background-color: #d2d5da;
	border: 0;
	border-radius: 30px;
	color: #f5f5f5;
	font-family: var(--top-family);
	font-size: 14px;
	font-weight: 400;
	height: 35px;
	line-height: 24px;
	margin-bottom: 64px;
	margin-top: 38px;
	text-align: center;
	width: 98px;
}
.circle, .textblock4 {
	display: inline-block;
}
.circle {
	box-sizing: content-box;
	margin-bottom: auto;
	margin-right: 15px;
	margin-top: auto;
	vertical-align: middle;
}
.blockfirst {
	background-color:var(--bg-color);
	height: 330px;
	width: 100%;
	display: flex; align-items: center;

	justify-content: center; 


}
.head1 {
	background: url(img/3.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 588px;
}
.head {
	position: relative;
	
	z-index: 2;
}
.head1::after {
	background-color: black;
	content: '';
	display: block;
	height: 588px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.head, .div1, .img1, .img2, .header, .img3, .blockthree, .block_6, .header, .people, .star, .block1,.div4,.block_5,.blockfirst1, .block_3 {
	display: table;
	margin-left: auto;
	margin-right: auto;

}
.header{
	padding-top:1px;
	margin-top:-1px;

}

.paragr {
	text-align: left;
}

.just {
	display: inline-block;
}
.end {
	background-color: var(--top-color);
	height: 50px;


}
.people_together {
	margin-left: auto;
	margin-right: auto;
	margin-top: 62px;
}
.circle_text {
	margin-top: 69px;
}
.block6 {
	background-color: var(--top-color);
}
.text_star {
	color: rgba(255, 255, 255, 0.84);
	font-family: var(--top-family);
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	padding-top: 5%;


}
.people_block {
	display: inline-block;
	margin-right: 34px;
	vertical-align: top;
}
.textblock6 {
	color: #40474e;
	font-family: var(--top-family);
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 19px;
	text-align: left;
	vertical-align: top;
}
.block2 {
	background-color: var(--top-color);
	height: 526px;

	display: flex;
justify-content: center; 

}
.photo1 {
	margin-bottom: 42px;
}
h1 {
	color: rgba(255, 255, 255, 0.24);
	font-family: Ubuntu;
	font-size: 53px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 140px;
	text-align: center;
}
.pxblock {

	padding-right: 30px;
}

.star_im{

	padding-right:10px;
	display: inline-block;
}

.hrs {
	display: flex;
  justify-content: center;
	padding-bottom: 30px;
	margin-top: 15px;

}

.pxblock, .pxblock1 {
	display: inline-block;
	margin-top: 60px;
	
}
.pxblock1{

}

.line {
	height: 1px;
	margin-bottom: 25px;
	margin-top: 21px;
	width: 135px;
}
.img_elena {
	display: table;
	margin-bottom: 43px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 79px;
}
.linki {
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	margin-right: 30px;
	text-align: center;
	text-decoration: none;
}
.img_day {
	display: table;
	margin-bottom: 43px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 79px;
	width: 482px;
}
.img1, .img2,.img3 {
	margin-top: 27px;
}
.img1 {
	display: table;
	height: 31px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 43px;
}
.img2 {
	display: table;
	height: 35px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 38px;
}
.img3 {
	display: table;
	height: 42px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	width: 39px;
}
.block1_1{
	margin-right:50px;

}
.block1_3{
	margin-left:50px;

}
.block1_1, .block1_2, .block1_3 {
	display: inline-block;

}
.block1_2{
	float:center;
	margin-left: 10px;
}
.botton1 {
	background-color: #50c3af;
	border: 0px;
	border-radius: 20px;
	color: #f5f5f5;
	font-family: var(--top-family);
	font-size: 14px;
	font-weight: 400;
	height: 35px;
	line-height: 24px;
	margin-bottom: 140px;
	margin-top: 45px;
	text-align: center;
	width: 98px;
	padding: 0;
}
.hed {
	color: white;
	font-family: var(--top-family);
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	opacity: 0.5;
	margin-bottom: 83px;
}
.botton {
	background-color: #50c3af;
	border: 0;
	border-radius: 30px;
	color: #f5f5f5;
	font-family: var(--top-family);
	font-size: 15px;
	font-weight: 700;
	height: 48px;
	left: 41%;
	line-height: 24px;
	text-align: center;
	display: flex; 
	justify-content: center; 
	width: 235px;
	padding: 0;
	margin: 0 auto;
}

.photo_block4 {
	height: 138px;
	width: 181px;
}
.head_block4 {
	color: #40474e;
	font-family: var(--top-family);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
	margin-top: 41px;
	text-align: left;
}
.hr11 {
	background-image: linear-gradient(90deg,rgb(233, 233, 234),rgba(241, 233, 233, 0.24));
	border: none;
	height: 2px;
	margin-bottom: 31px;
	margin-top: 23px;
	width: 290px;
}
.block4 {
	background-color: var(--top-color);
}
.hr_block3 {
	background-image: linear-gradient(90deg,rgb(233, 233, 234),rgba(241, 233, 233, 0.24));
	border: none;
	height: 2px;
	margin-left: 4px;
	width: 531px;
}
.hr_block4 {
	background-image: linear-gradient(90deg,rgb(233, 233, 234),rgba(241, 233, 233, 0.24));
	border: none;
	height: 2px;
	width: 182px;
}
.hr_block5 {
	background-image: linear-gradient(90deg,rgb(233, 233, 234),rgba(241, 233, 233, 0.24));
	border: none;
	height: 2px;
	margin-left: 4px;
	margin-top: 16px;
	width: 251px;
}
.hr{

	display: flex;
	justify-content: center;
}
.hr_block6 {
	background-image: linear-gradient(90deg,rgb(233, 233, 234),rgba(241, 233, 233, 0.24));
	border: none;
	height: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	width: 290px;
}
.hr_block1 {
	background-image: linear-gradient(90deg,rgb(226, 227, 227),rgba(241, 233, 233, 0.24));
	border: none;
	height: 1px;
	margin-bottom: 25px;
	margin-top: 21px;
	width: 135px;
}
a:hover {
	opacity: 0.6;
}
.link {
	color: #50c3af;
	font-family: var(--top-family);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: right;
}
.check_link {
	margin-bottom: 70px;
	margin-top: 28px;
}
.galery1, .galery2, .galery3 {
	display: inline-block;
	margin-top: 65px;
}
.galery1, .galery2 {
	margin-right: 23px;
}
.block5 {
	background-color: var(--bg-color);
	height: 321px;
}
.button5 {
	background-color: #50c3af;
	border: 0;
	border-radius: 30px;
	color: #f5f5f5;
	font-family: var(--top-family);
	font-size: 15px;
	font-weight: 700;
	height: 35px;
	line-height: 24px;
	margin-bottom: 60px;
	margin-top: 30px;
	position: absolute;
	text-align: center;
	width: 98px;
	padding: 0;
}
.color_block {
	background-color: #50c3af;
	height: 221px;
}
.send {
	height: 19px;
	margin-right: 14px;
	width: 24px;
}
.send_it, .nice_to_see {
	display: inline-block;
	margin-top: 55px;
}
.send_it {
	margin-right: 78px;
}
.nice {
	height: 20px;
	margin-right: 15px;
	width: 20px;
}
.people {
	height: 208px;
	margin-bottom: 62px;
	width: 264px;
}
.buttom6 {
	background-color: #d2d5da;
	border: 0;
	border-radius: 30px;
	color: #f5f5f5;
	font-family: var(--top-family);
	font-size: 14px;
	font-weight: 400;
	height: 35px;
	line-height: 24px;
	margin-bottom: 72px;
	margin-top: 28px;
	text-align: center;
	width: 98px;
	padding:0;
}
.icon{

	margin-top: 4%;
        padding-bottom: 6%;
        display: flex;
        justify-content: space-evenly;


}
.icon img{
	width: 100px;
}
